body {
    margin: 0;
    padding: 0;
}

.header-home {
    display: flex;
    height: 50px;
    width: 100%;
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.9);
    margin-bottom: 4px;
}

.logo-div {
    width: 5%;
}

.logo-header {
    height: 100%;
    width: 100%;
}

.espaço-header {
    width: 75%;
}

.adm-div {
    padding-top: 10px;
    text-align: right;
    width: 15%;
}

.logo-adm {
    height: 70%;
    width: 20%;
}

.titulo-adm {
    width: 5%;
}

.adm {
    font-size: 17px;
    font-family: 'Roboto', sans-serif;
}

.principal {
    display: flex;
    height: 640px;
    width: 100%;
    background-color: #ffffff;
}

.menu-vertical {
    display: block;
    width: 5%;
    height: 100%;
    background-color: #106ABC;
}

.menu-vertical:active {
    width: 10%;
.botao-menu {
    width: 23%;
}
}

.botao-div-menu {
    width: 100%;
    height: 10%;
    text-align: center;
    padding-top: 20px;
}

.botao-menu {
    width: 40%;
    height: 30%;
    filter: invert(1) opacity(1.0);
}

.botao-menu:hover {
    filter: invert(1) opacity(0.8);
}

.footer-home {
    height: 60px;
    width: 100%;
    background-color: #0192E3;
}

