@media(max-width: 1001px){
footer{
    transform: translateY(100vh);
}
.menu-vertical{
    display: none;
}
.principal{
    display: grid;
}
.degrade-azul-branco{
    display: none;
}
.botao-menu-mobile{
    display: flex;
    filter: invert(1) opacity(1.0);
    height: 6.93vh;
    width: 7.29vh;   
}
.espaço-header{
    display: none;
}

.header-home {
    display: flex;
    justify-content: space-around;
    height: 10vh;
    background-color: #106ABC;
}
.adm-div-mobile img{
    margin-top: 10px;
    height: 40px;
    width: 59.2px; 
}
.adm-mobile{
    margin-top: 20px;
    font-size: 25px;
    padding-right: 20px;
}
.Admin-mobile{
    display: flex;text-align: center;
}
.adm{
    display: none;
}
.adm-div{
    display: none;
}


}